<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name%><%= @user.last_name%>  has taken a spot in your room</h1>
    <p>
      You can view your room details at tripapp.com<br>
    </p>
    <p>
    </p>
    <p>Thanks for traveling with us and have a great day!</p>
  </body>
</html>
