// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  margin: 5px;
  
  border-width: 10px;
}

.panel {
  border-width: 10px;

}

.table{
  table-layout: fixed;

}

.room-tr {
  width: 30%;
}

#trip-container{
  border-radius: 10px;
  border: 1px solid gray;
  
  margin: auto;
  width: 80%;


}

#btn2 {
  display:none;
}
#travelers {
  display: none;
}
