<div class="top-bar">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" HEIGHT="55" WIDTH="55" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/airplane_takeoff-.png">
          </a>
        </div>
      </div>

  </nav>
  <%= yield %>

</div> <!-- closes top bar
